* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  display: flex;
  justify-content: center;
}

main {
  margin-top: 0%;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 48px;
  width: 375px;
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
}

#menu-btn {
  width: 16px;
  top: 0;
  left: 4px;
  margin: 26px 24px 24.36px 0;
}

.logo {
  height: 24px;
  width: 70px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #fff;
  margin: 18px 0 0 24px;
  text-decoration: none;
}

.menu-bar {
  width: 16px;
  height: 2px;
  background-color: #fff;
  margin: 2px 0;
}

.menu-bar:hover {
  background-color: #acb7c3;
}

#headline-section {
  position: relative;
  height: 590px;
  width: 375px;
  padding: 120px 24px 120px 24px;
  background: #1c1a19;
}

h2 {
  height: 124px;
  width: 327px;
  left: 24px;
  top: 120px;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
  font-family: 'crete round', sans-serif;
}

#introduction-text {
  width: 327px;
  height: 27px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin: 10px 0;
}

#brief-description {
  width: 327px;
  height: 123px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.competencies > li {
  font-family: Inter, sans-serif;
  margin-right: 12px;
  padding: 6px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

#contact {
  display: flex;
  margin-top: 10px;
  list-style-type: none;
}

.about-me-cat > li {
  margin: 20px 10px;
}

#contact > li {
  margin: 10px;
}

#linkedIn-i-o {
  display: flex;
  flex-direction: column;
}

.linkedIn {
  display: flex;
}

#works-section {
  background-color: white;
  width: 375px;
  padding-top: 10px;
  padding-bottom: 120px;
}

.title {
  margin: 120px 24px 0 24px;
  width: 327px;
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
}

.crossline {
  width: 327px;
  height: 0;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 24px 80px 24px;
}

.works-card {
  margin: 0 24px;
}

#bold-text {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin: 10px 0;
}

#works-description {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

#competencies {
  display: flex;
  list-style-type: none;
}

#competencies > li {
  font-family: Inter, sans-serif;
  margin-right: 12px;
  padding: 6px;
  border: 2px solid #8993a4;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.btn-type-a,
.about-me-btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: #f55800;
  margin-top: 12px;
  border: none;
  outline: none;
}

.about-me-btn {
  margin-top: 24px;
  margin-bottom: 60px;
}

.btn-type-a:hover,
.about-me-btn:hover {
  background: #fff5e1;
  color: #f55800;
  border: 2px solid #f55800;
}

.btn-type-a:active,
.about-me-btn:active {
  background-color: #e05304;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, auto);
  margin: 0 24px;
  row-gap: 24px;
}

.grid-item {
  position: relative;
}

.placeholder-image {
  margin-bottom: 30px;
}

.image-text {
  position: absolute;
  top: 72px;
  left: 10px;
  display: flex;
  flex-direction: column;
}

.image-text > div {
  margin: 6px 0;
}

.bold-text {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: white;
}

.works-description {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.competencies {
  display: flex;
  list-style-type: none;
}

.btn-type-b {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background-color: #f55800;
  margin-top: 12px;
  border: none;
  outline: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

.btn-type-b:hover {
  background: #fff5e1;
  color: #f55800;
  border: 2px solid #f55800;
}

.btn-type-b:active {
  background-color: #e05304;
}

.about-me-section {
  position: relative;
  width: 375px;
  height: 1810px;
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  padding: 120px 24px 24px 24px;
}

.header-text > p {
  width: 357px;
  height: 216px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-indent: 3%;
}

.about-me-section > div > p {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about-me-title {
  display: flex;
  align-items: center;
}

.right-side-image {
  height: 270px;
  width: 130px;
  border-radius: 0;
  position: absolute;
  top: 330px;
  left: 244px;
}

.right-side-image-b {
  position: absolute;
  width: 160px;
  left: 215px;
  top: 400px;
}

.hor-line {
  position: absolute;
  top: 660px;
}

.list-container {
  text-align: center;
}

.about-me-cat {
  list-style-type: none;
  margin-top: 250px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.about-me-cat .language::before {
  content: "\25C6";
  color: #ff6b00;
  font-weight: bold;
  font-size: 22px;
  display: inline-block;
  width: 0.7em;
  margin-left: -1em;
}

.about-me-cat .frameworks::before {
  content: "\25AA";
  color: #ff6b00;
  font-weight: bold;
  font-size: 50px;
  display: inline-block;
  width: 0.7em;
  margin-left: -1em;
}

.about-me-cat .skills::before {
  content: "\2022";
  color: #ff6b00;
  font-weight: bold;
  font-size: 40px;
  display: inline-block;
  width: 0.7em;
  margin-left: -1em;
}

.category-list-container {
  margin-top: 30px;
}

.category-list {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

/* Added by Sandeep Ghosh mailsg0912@gmail.com */
.reg-form {
  width: 375px;
  height: 800px;
  background-color: white;
}

form {
  margin: 0 24px;
}

.form-body {
  display: flex;
  flex-direction: column;
}

.form-body > div {
  margin-bottom: 89px;
}

.text-field {
  display: block;
  margin: 10px 10px;
  padding: 14px;
  border: none;
  border-bottom: 2px solid #dbd8d7;
  outline: none;
  font-family: 'Inter', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 90%;
  align-items: center;
  justify-content: center;
  color: #979493;
}

#bio {
  border-bottom: none;
  background-color: #fbf8f7;
  padding: 0;
  padding-left: 14px;
  margin-top: 20px;
}

.header-text {
  display: flex;
  justify-content: center;
  margin: 70px 24px 0 24px;
}

.form-btn {
  display: flex;
  justify-content: center;
}

.form-contacts {
  display: flex;
  justify-content: center;
  border-top: 1px solid #dfe1e6;
  background-color: white;
  padding: 10px 0 15px 0;
}

.footer-divider {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: white;
}

.footer-divider > div {
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .right-side-image {
    display: none;
  }

  header {
    width: 1440px;
    height: 72px;
  }

  .logo {
    margin: 26px 0 26px 154px;
  }

  #headline-section {
    width: 1440px;
    height: 870px;
    position: relative;
    padding: 264px 143px;
  }

  #menu-btn {
    display: none;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
  }

  .desktop-nav-content {
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 143px;
    list-style-type: none;
  }

  .desktop-nav-content > li > a {
    margin-right: 32px;
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .mail-icon {
    width: 20px;
    height: 20px;
  }
}
